## Build results
bin/
obj/

##sqlite database files
*.db
*.sqlite
*.sqlite3

# Publish
publish/
out/


## Visual Studio / VS Code
.vs/
.vscode/

## Rider / JetBrains
.idea/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs
*.log

## Environment / secrets
.env
appsettings.Development.json
appsettings.Local.json

## OS files
.DS_Store
Thumbs.db
